process{
  container = "tdmedina/test:latest"
}

params{
  input = null
  fasta = null
  gtf = null
  transcriptome = null
  transcriptome_index = null
  save_transcriptome = true
  save_index = true
  run_qc = true
  save_qc_intermediates = true
}

singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = "/home/tyler/containers"

profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }
    test { includeConfig 'conf/test.config' }
    local_test { includeConfig 'conf/local_test.config'}
}
